stages:
  - test
  - build

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

test:
  stage: test
  image: python:3.12
  script:
    - pip install -r requirements.txt
    - pytest -v

docker-build:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker build -t bank-account:latest .
  only:
    - merge_requests
    - main
